$primary-color: #61c1d6; // blue
$secondary-color: #1d2d35; // black
$primary-font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$primary: $primary-color;
$black: #1d2d35;


$background: #f8f8f8;

$title-size: $size-5;
$title-weight: $weight-bold;
$title-color: $black;

$content-heading-color: $black;
$desktop-font-size: 1.3em;
$mobile-font-size: 1.0em;
