// MIXINS
@mixin fs-tiny() {
  font-size: 1.0rem;
  @media (--md-viewport) { font-size: 1.4rem; }
}

@mixin fs-small() {
  font-size: 1.8rem;
  @media (--md-viewport) { font-size: 1.8rem; }
}

@mixin fs-base() {
  font-size: 1.8rem;
  @media (--md-viewport) { font-size: 2.0rem; }
}

@mixin fs-medium() {
  font-size: 2.2rem;
  @media (--md-viewport) { font-size: 2.4rem; }
}

@mixin fs-large() {
  font-size: 2.4rem;
  @media (--md-viewport) { font-size: 3.2rem; }
}

@mixin fs-huge() {
  font-size: 2.8rem;
  @media (--md-viewport) { font-size: 6.4rem; }
}

// RESETS
html { font-size: 62.5%; }
body { font-family: $primary-font-family; font-size: 1.8rem; background-color: $white; }
h1, h2, h3, h4, h5, h6, p { margin: 0; color: $secondary-color; }

a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 40%);
  }
}

h1 { @include fs-base(); margin-bottom: 2.0rem; }
h2 { @include fs-base(); margin-bottom: 2.0rem;}
h3, h4, h5, h6 { @include fs-small(); }
p { @include fs-base(); line-height: 1.4; font-family: $primary-font-family; font-weight: light; padding-bottom: 2.5rem; }
blockquote { @include fs-base(); line-height: 1.4; font-family: $primary-font-family; font-weight: light; }
