.text-center {
  text-align: center;
}

.light-text {
  color: $medium-gray;
}

.avatar {
  &--large {
    width: 150px;
    height: 150px;
  }
  border-radius: 50%;
}

.hide-for-mobile {
  display: none;
  @media (--md-viewport) {
    display: block;
  }
}

.mb-16 {
  margin-bottom: 2.6rem;
}
