<% @articles.each do |article| %>
  <article class="card card--list push--bottom">
    <header>
      <p><%= formatted_date(article.created_at) %></p>
      <h2><%= article.title %></h2>

      <div>
        <%= article.description %>
      </div>

      <%= link_to "Read more", article_path(article.slug), class: 'card__link' %>

      <div>
        <span>Read more</span>
      </div>

    </header>
  </article>
<% end %>
