<h2>Articles</h2>
<div class="listing">
  <% @articles.each do |article| %>
    <p>
      <%= link_to article.title, article_path(article.slug) %><br>
      <%= article.description %> <span class="light-text"><%= formatted_date(article.date) %></span>
    </p>
  <% end %>
</div>
