<div class="container">

  <%= render 'shared/subpage_header', crumbs: [{ name: 'Articles' }] %>

  <section class="subpage-content">
    <% @articles.each do |article| %>
      <p>
        <%= link_to article.title, article_path(article.slug) %><br>
        <%= article.description %>
      </p>
    <% end %>
  </section>
</div>
