<% @articles.each do |article| %>
  <article class="relative p-8 pb-24 mb-8 border border-gray-300 border-solid rounded">
    <header>
      <p class="mb-2 text-center text-gray-500"><%= formatted_date(article.created_at) %></p>
      <h2 class="mb-5 text-3xl font-bold text-center"><%= article.title %></h2>
    </header>

    <div class="text-xl">
      <%= article.description %>
    </div>

    <%= link_to "Read more", article_path(article.slug), class: 'card__link' %>

    <div class="absolute inset-x-0 bottom-0 z-0 p-8 text-center">
      <span class="px-4 py-2 font-medium text-red-700 border border-red-700 border-solid rounded-full">Read more</span>
    </div>

  </article>
<% end %>
