
<%= @article.title %>

        <%= formatted_date(@article.created_at) %>

        <% unless @article.created_at == @article.updated_at %>
          <span class="lighter">(updated: <%= formatted_date(@article.updated_at) %>)</span>
        <% end %>
        <%=raw @article.content_html %>
