<article class="article">
  <h1 class="article__title"><%= @article.title %></h1>
  <span class="article__date light-text"><%= formatted_date(@article.created_at) %></span>
  <section class="article__body">
    <%=raw @article.content_html %>
  </section>
</article>

