// HEADER & NAVIGATION
header.main-header
  margin: 30px auto 100px auto
  padding: 0
  text-align: center

  p
    color: $black4
    a
      color: $black1

  .logo
    margin: 90px 0 0 0
    padding: 0 10px 0 10px
    img
      width: 350px

nav.main-navigation
  // border-top: 1px dotted #cecece
  margin: 20px 0 20px 0
  text-align: center

// FOOTER
footer
  margin: 0 0 10px 0
  padding: 10px 0 10px 0
  border-top: 1px solid $lighter
  color: $lighter

  .copyright
    display: inline-block
    margin: 4px 0 0 0
    font-size: 13px
    font-weight: 300

// MODULES
.divider
  border-bottom: 1px solid rgb(238, 238, 238)
  margin: 70px 0 70px 0
