<footer class="section main-footer bg-smoke" style="padding: 20px 0;">
  <div class="row">
    <div class="columns footer-links text-center">
      <p>
        Made with <%= fa_icon "heart" %> and <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>.
      </p>
    </div>
  </div>
</footer>
