<hr>
<footer class="main-footer">
  <p>
    Made with <%= fa_icon "heart", style: "color: #ac1e1c;" %> and <%= link_to "Ruby on Rails", "http://rubyonrails.org", target: "_BLANK" %>.
  </p>
</footer>
