<header class="section main-header">
  <div class='row'>

    <div class='columns small-3' style="padding-top: 10px;">
      <%= link_to image_tag("rodrigo.jpg", alt: "Rodrigo Haenggi", class: "avatar"), root_url %>
    </div>
    <div class='columns small-9'>
      <h1>the<b>minimalist</b>coder</h1>
      <hr>
      <p>
        Hey there, my name is <b>Rodrigo Haenggi</b> and I live in Basel, Switzerland.
        I am the co-founder of <b><%= link_to "Codegestalt", "http://codegestalt.com", target: "_BLANK" %></b> and I
        teach people how to code through <b><%= link_to "Master21", "https://master21.academy", target: "_BLANK" %></b>.
      </p>
      <p>
        <b><%= mail_to "rodrigo@codegestalt.com", "Let me buy you a coffee", subject: t(:coffee_subject), body: t(:coffee_body) %></b> – in turn you tell me about whatever it is you're passionate about.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='columns small-12'>
      <hr>
    </div>
  </div>
</header>
