<header class="section main-header">
  <div class='row'>

    <div class='columns small-3' style="padding-top: 10px;">
      <%= link_to image_tag("rodrigo.jpg", alt: "Rodrigo Haenggi", class: "avatar"), root_url %>
    </div>
    <div class='columns small-9'>
      <h1>the<b>minimalist</b>coder</h1>
      <hr>
      <p>
        Hey there, my name is Rodrigo.<br>
        I am the cofounder <%= link_to "Codegestalt", "http://codegestalt.com", target: "_BLANK" %> and <br>
        I teach people how to code through <%= link_to "Master21", "https://master21.academy", target: "_BLANK" %>.
      </p>
      <p>
        <b>Reading</b>, <b>Music</b> and <b>Movement</b> are my passion –<br>
        this is where I write down my thoughts.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='columns small-12'>
      <hr>
    </div>
  </div>
</header>
