<header style="background-color: #2d2d2d;">
  <div class='row'>
    <div class="columns small-12 small-centered">
      <div style="color: white; padding: 20px 0;">
        You're reading <%= link_to "theminimalistcoder", root_url, style: "color: white;" %>
      </div>
    </div>
  </div>
</header>
