<div id="mc_embed_signup">
  <form action="//codegestalt.us2.list-manage.com/subscribe/post?u=315078539b81123fe106a2447&amp;id=e24bd86917" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="small-12 columns">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="margin-bottom: 0;" placeholder="Email address">
          </div>
          <div class="small-12 columns">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="margin-top: 10px; width: 100%; font-weight: bold;" class="button small">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div id="mce-responses" class="clear" style="font-style: italic; font-size: 14px; color: #E05E4F;">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div><div style="position: absolute; left: -5000px;"><input type="text" name="b_315078539b81123fe106a2447_e24bd86917" tabindex="-1" value=""></div>
      </div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
