<div class="archives">

  <h1>Archives</h1>
  <div class="show-post-image" style="background-image: url('assets/archives.jpg');"></div>

  <h2>All Posts on this site</h2>
  <ul>
  <% @posts.each do |post| %>
    <li>
        <%= link_to post.title, post.permalink %>
    </li>
  <% end %>
  </ul>
</div>
