<div class="information">
  Welcome to my Library. Here you'll find a list off all the Books I'm currently reading and the ones I've read.
</div>

<div class="books">
  <h1>Currently Reading</h1>
  <ul class="book-listing">
  <% @current.each do |book| %>
    <%= render 'pages/book', book: book %>
  <% end %>
  </ul>

  <h1>Read Books</h1>

  <ul class="book-listing">
  <% @read.each do |book| %>
    <%= render 'pages/book', book: book %>
  <% end %>
  </ul>
</div>
