<div class="container">

  <%= render 'shared/subpage_header', crumbs: [{ name: 'Books' }] %>

  <section class="subpage-content">
    <div class="content">
      <blockquote>
        <p>
        <%= t('books_title').html_safe %>
        </p>
      </blockquote>
    </div>
    <hr>
    <% t('books').group_by {|k, v| k[:category] }.each do |group| %>
      <h3 class="title is-5"><%= group.first %></h3>
      <ol class="book-listing">
        <% group.last.each do |book| %>
          <li><%= link_to("#{book[:author]}: #{book[:title]}", book[:url], target: '_BLANK') %></li>
        <% end %>
      </ol>
      <hr>
    <% end %>
  </section>

</div>
