<article class="post section">

  <div class="row">
    <div class="columns small-12">
      <section class="post-body medium tf padded">
        <h1>Let's grab a coffee!</h1>
        <p>
          I'm always excited to meet new and interesting people. So here's the deal:
          <span class="marker">I invite you to a coffee, in turn, you tell me something about yourself.</span> What are you working on? What fascinates you? Read any interesting books lately?<br>
        </p>
        <p>
          You should be living <span class="marker">somewhere in Switzerland</span>, otherwise the coffee might get a little bit expensive...
        </p>
        <p>
          <%= mail_to "rodrigo@codegestalt.com", "Buy me a Coffee", subject: "About that coffee...", class: "button button--main" %>
        </p>
      </section>
    </div>
  </div>

</article>
