<article class="article">
  <h1 class="article__title"><%= @page.title %></h1>
  <span class="article__date light-text">Last updated on <%= formatted_date(@page.updated_at) %></span>
  <section class="article__body">
    <%=raw @page.content_html %>
  </section>
</article>

