// // HEADER & NAVIGATION
header.main-header
  margin: 0 auto 80px auto
  padding: 25px 0
  .logo
    display: inline-block
    padding: 10px 0 0 20px
    img
      width: 40px
  h1
    font-size: 24px
    font-weight: 300
    img
      margin-right: 5px
    a
      text-decoration: none
      color: #242424
  nav
    .links
      display: none 
      margin-left: 20px
      padding: 0
      li
        display: inline-block
        margin-right: 20px
        a
          color: darken($smoke, 20%)
          text-decoration: none
          font-weight: 200
          font-size: 14px
          &:hover
            color: $oil


nav.main-navigation
  margin: 20px 0 20px 0
  text-align: center

// // FOOTER
footer
  margin: 0 0 10px 0
  padding: 10px 0 10px 0
  border-top: 1px solid $smoke
  color: $light

  .copyright
    display: inline-block
    margin: 10px 0 20px 0
    font-size: 13px
    color: $light

// MODULES
.divider
  border-bottom: 1px solid $smoke
  margin: 70px 0 70px 0
