body
  border-top: 3px solid #333
  color: $black
  margin: 0

  h1
    margin-top: 18px

  h2
    padding: 10px 0 0 0
    color: #333
    margin: 18px 0 0 0

  h3
    padding: 10px 0 0 0
    color: #777
    color: #333
    margin-top: 18px
    -webkit-margin-end: 0

  a
    color: $blue
    text-decoration: none
    text-decoration: underline

    &:hover
      color: $blue

// CONTENT

.content
  margin: 25px 0 0 0
  padding: 0 0 20px 0

.show-post-image

.index-header
  margin: 0 0 10px 240px !important

.post-summary
  margin: 10px 0 10px 220px
  color: $black

.whoring
  color: $black
  padding: 20px 0 20px 0
  font-size: 20px
  line-height: 22px

  i
    color: $black
    padding: 0 10px 0 0

  .whoring-title
    padding-right: 10px
    font-size: 18px
    line-height: 22px

  a
    text-decoration: none

.subscribe-area
  border-top: 1px solid $smoke
  padding: 40px 0 40px 0
  margin: 40px 0 0 0

.author-profile
  border-top: 1px solid $smoke
  margin: 0 0 0 0
  padding: 30px 0 30px 0

  &:after
    content: '.'
    display: block
    height: 0
    clear: both
    visibility: hidden

  .author-avatar
    padding: 0
    margin: 0 0 0 0
    float: left
    vertical-align: baseline
    img
      border-radius: 50%
      height: 110px
      width: 110px
  .author-bio
    line-height: 1.35em
    text-align: left
    margin-left: 140px
    p
      margin: 15px 0 0 0
    h2
      margin: 0
      padding: 0
      font-size: 16px
      font-weight: bold

@media screen and (max-width: 480px)
  .author-profile
    text-align: center
    .author-avatar
      float: none
      margin-bottom: 25px
    .author-bio
      margin-left: 0
      text-align: center
      float: none
      width: auto

.post-navigation
  padding: 25px 0 25px 0
  margin: 25px 0 0 0

  h1
    margin: 0
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    font-family: $font-family-sans-serif
    font-style: normal

  a
    text-decoration: none
    font-style: italic
    font-size: 14px
    color: $light
    font-family: $font-family-sans-serif

  .previous-post
    display: inline-block

  .next-post
    float: right
    display: inline-block

@media screen and (max-width: 480px)
  .post-navigation
    text-align: center
    .previous-post
      display: block
    .next-post
      float: none
      display: block
      margin-bottom: 25px
