.books
  h1
    border-bottom: 1px solid #cecece
    font-size: 26px
    padding-bottom: 10px
    font-weight: normal

  .book-listing
    display: block
    padding-bottom: 60px

    .book
      padding: 20px 0
      font-weight: normal
      font-family: $default-font-family

      .book-title
        border: none
        font-size: 18px
        line-height: 24px
        margin-left: 140px

      .book-author
        margin: 0 0 15px 0
        font-size: 14px
        margin-left: 140px

      p
        margin-left: 140px
        font-family: $text-font-family
        font-weight: 200
        line-height: 20px
        font-size: 16px

      .book-image
        float: left
        padding-top: 5px
