.post-body
  font-family: $default-font-family
  padding-bottom: 0
  margin: 50px auto 20px auto
  font-weight: 300
  font-size: 18px

  h1
    font-size: 18px
    color: $black

  ol
    margin: 10px 0 10px 0
    padding-left: 15px
    font-size: 18px

  ul
    margin: 10px 0 10px 0
    padding-left: 20px
    font-size: 18px

  li
    list-style-type: none
    color: $black2
    text-indent: -5px
    font-size: 18px
    &:before
      content: "-" 
      position: relative 
      left: -5px

  p
    font-size: 18px
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    padding: 5px 0
    margin: 0
    color: $black2
    font-weight: 300

  p strong
    font-size: 18px
    background-color: rgba(255,242,51,0.298)

  img
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    margin-bottom: 20px
    max-width: 610px

  img.noclip
    max-width: 650px
    -webkit-box-shadow: none

  blockquote
    padding: 0 20px 0 20px
    p
      font-size: 18px
      font-style: italic
      margin: 15px 0 15px 0
      padding: 0
      color: $black3 !important
      // border-left: 1px solid $lighter

  blockquote cite
    display: block
    margin-top: 8px
    text-align: right
    color: red
    font-style: normal

  em
    font-style: italic

  .centered 
    margin: 0 auto 0 auto
    width: 700px
