$body-font-size: 1.35em
$body-line-height: 1.60em

.post-header
  margin: 0
  text-align: center

  .post-header-info
    text-align: center
    margin: 0 0 25px 0
    color: $black4
    font-weight: 200
    font-family: $text-font-family
    font-size: 20px
    font-style: italic

  h1
    font-size: 40px
    line-height: 40px
    font-family: $text-font-family
    width: inherit
    margin: 0 0 20px 0
    padding: 0
    color: #444444
    font-weight: 300

    a
      color: #444444
      font-weight: 300
      text-decoration: none
      padding: 0

      &:hover
        color: $blue
        text-decoration: none

.post-body
  font-family: $default-font-family
  font-weight: 300
  font-size: $body-font-size
  line-height: $body-line-height 
  color: $black2

  h1
    color: $black

  // use for announcements
  h2
    font-size: 1.75em
    line-height: 1.3em

  ol
    margin: 10px 0 10px 0
    padding-left: 20px

    li
      text-indent: -5px


  ul
    margin: 10px 0 10px 0
    padding-left: 20px

    li
      list-style-type: none
      text-indent: -5px
      &:before
        content: "-" 
        position: relative 
        left: -5px

  p
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    padding: 10px 0 10px 0
    margin: 0
    font-weight: 300

    code
      font-size: 14px
      line-height: 20px

  p strong
    background-color: rgba(255,242,51,0.298)

  img
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    margin-bottom: 40px

  img.noclip
    max-width: 650px
    -webkit-box-shadow: none

  blockquote
    padding: 0 0 0 24px
    margin: 20px 40px 20px 0
    border-left: 5px solid $black
    p
      font-style: italic
      strong
        text-align: center

  blockquote cite
    display: block
    margin-top: 8px
    text-align: right
    color: red
    font-style: normal

  em
    font-style: italic
