<h2>Commonplace Books</h2>
<p>
  Commonplace books (or commonplaces) are a way to compile knowledge, usually by writing information into books.
  They are used by readers, writers, students, and scholars as an aid for remembering useful concepts or facts they have learned.
  This is the place where I distill everything I read and learn into various topics.
</p>
<hr>

<% @commonplaces.each do |commonplace| %>
  <div class="row mb-16">
    <div class="col-xs-12 col-md-3">
      <%= image_tag commonplace.image_url, height: "", width: "100%;" %>
    </div>
    <div class="col-xs-12 col-md-9">
      <p>
      <%= link_to commonplace.title, commonplace_path(commonplace.slug) %><br>
      <span class="article__date light-text">Last updated on <%= formatted_date(commonplace.updated_at) %></span>
      <%= commonplace.description %>
      </p>
    </div>
  </div>

<% end %>
