html
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

.card__link
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-indent: -99999px
  z-index: 1

.card
  @apply relative p-8 pb-24 mb-8 border border-gray-300 border-solid rounded shadow-lg

.card--subscribe
  @apply pb-6 pt-6 w-3/4 ml-auto mr-auto transform -rotate-1 mb-12 text-center

.btn
  @apply px-4 py-2 font-medium text-blue-400 border border-blue-400 border-solid rounded-full


.html-content
  font-size: 19px

  .container
    @apply mb-6

  .soundcloud-container

  .video-container
    width: 100%
    iframe
      min-height: 400px
      min-width: 100%

  p
    @apply pb-4

  h3, h4
    @apply mb-4

  h3
    @apply text-xl font-bold

  a
    @apply text-blue-400 underline

  ul, ol
    @apply ml-6 mr-6 mb-6

  ul
    @apply list-disc

  ol
    @apply list-decimal

  hr
    @apply mt-6 mb-6

  blockquote
    border-color: #dbdbdb
    @apply border-l-4 italic mb-6 text-gray-500

    p
      @apply p-4
