html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// See: https://github.com/jgthms/bulma/issues/1190
$variable-columns: false;

// Bulma Settings
@import '~bulma/sass/utilities/_all';

// Bulma Overwrites
@import 'base/_0.settings';

// Other Bulma Imports
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/content';

// Custom Stylesheets
@import 'main';
