.turbolinks-progress-bar {
  background-color: $primary-color;
}

.video-container {
  width: 100%;
}

body {
  font-family: $primary-font-family;
  color: $black;
  font-size: $mobile-font-size;
}

a.invisible-link {
  border: none !important;
  text-decoration: none !important;
  padding: 0 !important;
  color: $black !important;
}

a {
  color: $black !important;
  text-decoration: none !important;
  border-bottom: 0.1em solid $primary-color;
  transition: all 0.2s ease;
  &:hover {
    text-decoration: none !important;
    border-bottom: 0.1em solid $secondary-color;
  }
}

p {
  font-size: $mobile-font-size;
  margin: 0 0 1em 0;
}

blockquote p {
  margin: 0;
  font-style: italic;
}

.book-listing {
  padding-left: 20px;
  margin-bottom: 30px;
  li {
    padding-bottom: 5px;
  }
}

.container {
  margin: 1em;
}

.logo {
  width: 40%;
  margin-bottom: 2em;
}

.intro-section {
  padding-bottom: .7em;
}

.nav-section {
  border-top: 1px solid #c7d2d9;
  text-align: left;
  padding-top: 1em;
}

.nav-links {
  margin: 0;
  padding: 0;
  li {
    margin: 0 0 .8em 0;
    font-size: $mobile-font-size;
  }
}

.header-section {
  text-align: center;
}

.interest-section {
  border-top: 1px solid #c7d2d9;
  border-bottom: 1px solid #c7d2d9;
  padding: 1em 0 .7em 0;
}

.interest-line {
  padding: 0 0 10px 0;
}

.bio-section {
  padding-top: 1em;
  padding-bottom: 6em;
}

.bio-section-text {
}

.headshot {
  border-radius: 100%;
  float: left;
  width: 6em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.subpage-header {
  border-bottom: 1px solid #c7d2d9;
  padding: 1.5em 0 2em 0;
  font-size: .9em;
  text-align: center;
}

.subpage-content {
  padding-top: 2em;
  line-height: 1.35;
  padding-bottom: 6em;
}

.logo--subpage {
  width: 6em;
  border-radius: 100%;
  margin-bottom: 1em;
}

.breadcrumb-arrow {
  color: #aaa;
  font-weight: 700;
  font-size: .9em;
  padding: 0 5px 0 5px;
}

.current-breadcrumb {
  display: inline;
}

.video-container {
  iframe {
    min-height: 300px;
    min-width: 100%;
  }
}

// DESKTOP
@media (min-width: 800px) {
  body {
    font-size: $desktop-font-size;
  }

  .container {
    width: 50em;
    margin: 0 auto;
  }

  .subpage-header {
    text-align: left;
  }

  .logo--subpage {
    width: 6em;
    float: left;
    margin-right: 2em;
  }

  .subpage-content {
    margin-left: 20%;
    margin-right: 20%;
    font-size: .9em;
    border-left: 1px solid #c7d2d9;
    padding: 2em 0 2em 2em;
    padding-bottom: 8em;
  }

  .header-section {
    border-left: 1px solid #c7d2d9;
    padding-top: 4em;
    padding-bottom: 1em;
    padding-right: 0;
    margin-left: 30%;
    position: relative;
  }

  .intro-section,
  .nav-section {
    text-align: left;
    padding-left: 2em;
  }

  .figure--large {
    width: 140%;
  }

  .nav-section {
    width: 70%;
  }

  .interest-section {
    padding: 1.7em 0;
    padding-left: 13%;
  }

  .interest-line {
    font-size: $mobile-font-size;
  }

  .bio-section {
    border-left: 1px solid #c7d2d9;
    padding-top: 1.5em;
    padding-left: 2em;
    margin-left: 30%;
    margin-right: 10%;
    position: relative;
  }

  .logo {
    position: absolute;
    bottom: -130px;
    left: -11em;
    width: 8em;
  }

  .headshot {
    position: absolute;
    top: 2em;
    left: -10em;
    width: 7.5em;
  }
}

.lighter {
  color: #c7c7c7;
  font-style: italic;
}
