<div class="whoring">
  <span class="whoring-title">FEEDBACK:</span> 

  <%= link_to "mailto:rodrigo@codegestalt.com?subject=Feedback: #{@post.title}" do %>
    <i class="icon-envelope-alt"></i> <span class="whoring-type">Drop me an Email</span>
  <% end %>

</div>
