<article class="section">
  <div class="row">
    <div class="columns small-12">
      <ul class="recent-posts">
      <% @posts.each do |year| %>
        <h3><%= year[0] %></h3>
        <% year[1].each do |post| %>
          <li>
              <div>
            <%= link_to post_url(post.slug) do %>
                <span class="title"><%= post.title %></span>
                <span class="date"><%= formatted_date(post.date) %></span>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</article>
