$primary-color: #61c1d6; // blue
$secondary-color: #1d2d35; // black
$primary-font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$primary: $primary-color;
$black: #1d2d35;

$background: #f8f8f8;

$desktop-font-size: 1.3em;
$mobile-font-size: 1.0em;
