<div class="row centered-text">
  <footer>
    <div class="columns">
    <span class="copyright df padded">
      <%= fa_icon "copyright" %> theminimalistcoder
      <br>
      <br>
    </span>
    </div>
  </footer>
</div>
