<footer>
  <span class="copyright df padded">
    <%= fa_icon "creative-commons" %> theminimalistcoder
  </span>
  <span class="copyright df padded right">
    <%= link_to fa_icon("rss"), feed_url %>
  </span>
</footer>
