<header class="main-header">
  <p>You're reading <%= link_to "the minimalist coder", root_url %>, musings about minimalism, programming, health and life.</p>
  <div class="logo">
    <%= link_to image_tag("logo.png"), root_url %>
  </div>
</header>
