<header class="main-header">
  <div class="row">
    <div class="columns">
      <p>
        You're reading <%= link_to "theminimalistcoder", root_url %>.
        <%# written by <%= link_to "this guy", root_url %1>. %> 
        <%# Make sure to check out my <%= link_to 'book notes', root_url %1>. %>
      </p>
    </div>
  </div>
</header>
