<ul>
  <li>
    <%= link_to raw("#{fa_icon 'twitter'}"), "https://twitter.com/therod", title: "Twitter", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("#{fa_icon 'github'}"), "https://github.com/therod", title: "GitHub", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("#{fa_icon 'envelope'}"), "mailto:rodrigo@codegestalt.com", title: "Email", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("#{fa_icon 'rss'}"), feed_url, title: "RSS Feed", class: "tooltip downward"  %>
  </li>
</ul>
