<!DOCTYPE html>
<html style="--color-unread:  rgb( 248, 121, 23); --color-bg--message-content:  #fff; --color-border--heavy:  rgba( 35, 28, 51, 0.5); --color-bg--note-glint:  rgba( 255, 214, 10, 0.15); --color-bg--negative:  rgb( 201, 36, 0, 0.25); --content-width:  98rem; --color-positive:  rgb( 41, 152, 80); --color-black:  rgb( 0, 0, 0); --color-shadow--dark:  rgba( 0, 0, 0, 0.1); --font-size-small:  1.6rem; --color-bg--overlay:  rgb( 255, 255, 255); --color-negative:  rgb( 201, 36, 0); --color-bg--receded:  rgb( 35, 28, 51, 0.03); --color-bg--tooltip:  rgb( 35, 28, 51); --color-bg--receded-on-isolated-content:  rgb( 35, 28, 51, 0.03); --rgb-overlay:  255, 255, 255; --color-bg--surface-glint:  rgba( 226, 221, 215, 0.15); --color-tertiary--contrast:  rgb( 85, 34, 250); --color-bg--surface-glint-opaque:  rgb( 251, 250, 249); --color-bg--overlay-dark:  rgb( 35, 28, 51, 0.95); --color-border:  rgba( 35, 28, 51, 0.15); --rgb-almost-white:  236, 233, 230; --color-bg--sheet:  rgb( 255, 255, 255); --color-bg--surface-glint-transparent:  rgba( 251, 250, 249, 0); --color-bg--note-blend:  rgb( 255, 245, 205); --color-shadow--light:  rgba( 226, 221, 215, 0.3); --quarter-space:  calc( 1.25em / 4); --color-bg--warning:  rgb( 255, 245, 202); --color-txt--placeholder:  rgba( 35, 28, 51, 0.6); --rgb-coral:  249, 92, 92; --color-bg--highlight:  rgba( 255, 214, 10, 0.25); --half-space:  calc( 1.25em / 2); --color-bg--neutral:  rgb( 244, 243, 245); --color-bg--card:  #fff; --color-disabled:  rgb( 116, 116, 128); --color-txt:  rgb( 35, 28, 51); --color-border--solid:  rgb( 35, 28, 51); --font-family--mono:  &quot;SFMono-Regular&quot;, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; --color-bg--main-thin:  rgba( 255, 255, 255, 0.5); --rgb-neutral-light-gray:  244, 243, 245; --color-bg--secondary-glint:  rgba( 0, 116, 228, 0.05); --color-bg--thread:  #FAF9F7; --color-focus-ring:  #a4d2ff; --color-txt--on-message-content:  rgb( 35, 28, 51); --page-padding:  1.6rem; --rgb-black:  0, 0, 0; --color-secondary:  rgb( 0, 116, 228); --font-size-xx-small:  1.2rem; --font-size-large:  2rem; --color-bg--note-opaque:  #FFF6C8; --color-bg--collection:  rgba( 41, 152, 80, 0.25); --color-border--reversed:  rgba( 236, 233, 230, 0.25); --rgb-purple:  85, 34, 250; --color-bg--positive:  rgba( 41, 152, 80, 0.25); --color-bg--surface-glint-thick:  rgb( 251, 250, 249, 0.9); --color-collection:  rgb( 41, 152, 80); --rgb-light-gray:  251, 250, 249; --color-coral:  rgb( 249, 92, 92); --double-space:  calc( 1.25em * 2); --rgb-teal:  157, 255, 236; --color-bg--primary-glint:  rgba( 157, 255, 236, 0.05); --rgb-red:  201, 36, 0; --color-bg--flash-notice:  rgba( 35, 28, 51, 0.75); --rgb-white:  255, 255, 255; --color-tertiary:  rgb( 85, 34, 250); --rgb-yellow:  255, 214, 10; --font-size-base:  11px; --rgb-blue:  0, 116, 228; --color-border--light:  rgba( 35, 28, 51, 0.05); --base-space:  1.25em; --eigth-space:  calc( 1.25em / 8); --color-bg--warning-glint:  rgb( 255, 229, 218); --color-bg--primary:  rgba( 157, 255, 236, 0.15); --rgb-peach:  255, 229, 218; --color-bg--world-primary:  #8edacd; --color-primary:  rgb( 157, 255, 236); --color-bg--negative-glint:  rgb( 201, 36, 0, 0.15); --color-bg--main:  rgb( 255, 255, 255); --color-txt--reversed:  rgb( 255, 255, 255); --color-bg--surface:  rgba( 226, 221, 215, 0.4); --color-quote-toggle:  #0068c8; --font-size-medium:  1.8rem; --color-bg--main-thick:  rgba( 255, 255, 255, 0.95); --font-family:  -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; --color-bg--positive-glint:  rgba( 41, 152, 80, 0.15); --rgb-yellow-gradient-middle:  255, 245, 205; --color-always-white:  rgb( 255, 255, 255); --color-bg--sheet-transparent:  rgba( 255, 255, 255, 0); --rgb-gray:  116, 116, 128; --color-bg--main-reversed:  rgb( 35, 28, 51); --color-bg--flash-notice-glint:  rgba( 35, 28, 51, 0.65); --rgb-canary:  255, 245, 202; --color-bg--popup:  rgba( 35, 28, 51, 0.25); --color-bg--world-secondary:  #4c63e1; --color-txt--subtle:  rgba( 35, 28, 51, 0.66); --color-bg--warning-urgent:  rgb( 248, 121, 23, 0.33); --color-bg--secondary-glint-opaque:  #F4F8FE; --color-bg--collection-glint:  rgba( 157, 255, 236, 0.1); --color-txt--subtle-reversed:  rgba( 255, 255, 255, 0.66); --rgb-ink:  35, 28, 51; --color-border--popup:  rgba( 0, 0, 0, 0.15); --color-shadow:  rgba( 226, 221, 215, 0.5); --color-bg--main-transparent:  rgba( 255, 255, 255, 0); --one-and-a-half-space:  calc( 1.25em * 1.5); --color-bg--entry-sheet:  rgb( 255, 255, 255); --color-bg--note:  rgba( 255, 214, 10, 0.35); --body-padding:  6.4rem; --font-size-x-small:  1.4rem; --rgb-almost-black:  35, 28, 51; --font-size-xx-large:  4rem; --color-bg--tertiary:  rgba( 85, 34, 250, 0.15); --rgb-orange:  248, 121, 23; --color-bg--tertiary-glint:  rgba( 85, 34, 250, 0.05); --sheet-padding:  5rem; --color-bg--surface-opaque:  rgb( 226, 221, 215); --color-bg--collection-glint-opaque:  #F2FDF9; --color-txt--subtle-on-message-content:  rgba( 35, 28, 51, 0.66); --color-bg--collection-opaque:  #D7EFDE; --color-almost-black:  rgb( 35, 28, 51); --color-bg--go-button:  rgba( 35, 28, 51, 0.2); --color-bg--secondary-opaque:  #E0EAF9; --entry-padding:  5rem; --rgb-background:  255, 255, 255; --color-bg--secondary:  rgba( 0, 116, 228, 0.15); --color-txt--action:  rgb( 0, 116, 228); --negative-page-padding:  -1.6rem; --font-size-x-large:  2.8rem; --color-bg--world-tertiary:  #6550f0; --rgb-medium-gray:  226, 221, 215; --rgb-green:  41, 152, 80; color: rgb(35, 28, 51); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: calc(19.799999237060547px / var(--type-scale-factor)); line-height: calc(27px / var(--type-scale-factor)); --clipped-width: 0px; --scale-factor: 1; --type-scale-factor: 1;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      html {
        overflow: hidden;
        overflow-wrap: break-word;
      }
      body {
        margin: 0 var(--clipped-width) 0 0;
        padding: 0;
        transform: scale(var(--scale-factor));
        transform-origin: left top;
        display: flex;
        position: relative;
      }
      html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
      h1{font-size:1.2em;line-height:1.2;margin:0}
      ul,ol{margin:0;padding:0}ul li,ol li,li li{margin:0 0 0 36px}[dir=rtl] 
      li{margin:0 18px 0 0}
      blockquote{border-color:#dfdee1;border-style:solid;border-width:0 0 0 1px;margin:0;padding:0 0 0 1em}[dir=rtl] 
      blockquote,blockquote[dir=rtl]{border-width:0 1px 0 0;padding:0 1em 0 0}
      pre{font-family:"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;font-size:0.9em;margin:0;padding:1rem;background-color:#f6f5f3;white-space:pre-wrap;word-wrap:break-word;overflow:visible}
      a{color: #60a5fa;}
      .message-content{padding-left: 0.8em;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";line-height:1.4}
      .attachment{display:inline-block;margin:0;padding:0}
      .attachment__caption{padding:0;text-align:center}\.attachment__caption a[href]{text-decoration:none;color:#333333}
      .attachment--preview{width:100%;text-align:center;margin:0.625em 0}
      .attachment--preview img{border:1px solid #dfdee1;vertical-align:middle;width:auto;max-width:100%;max-height:640px}
      .attachment--preview .attachment__caption{color:#716d7b;font-size:0.85em;margin-top:0.625em}
      .attachment--file{color:#282138;line-height:1;margin:0 2px 2px 0;padding:0.4em 1em;border:1px solid #dfdee1;border-radius:5px}
      .permalink{color:inherit}
      .txt--xx-small{font-size:14px}
      .flush{margin:0;padding:0}
      .push--bottom{margin-bottom:8px}
      .border--top{border-top:1px solid #ECE9E6}
      .btn{display: inline-block;padding:0.4em 0.8em;font-weight:500;text-decoration:none;border-radius:3rem;white-space:nowrap;background:#ffffff;border: 1px solid #60a5fa;color: #60a5fa;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
